.card {
    margin-bottom: 20px;
  }
  .chart-container {
    position: relative;
    height: 200px;
  }
  .navbar-nav .nav-link:hover {
    background-color: blue !important;
    border-radius:5px ;
    }

    .card {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .card-body {
      background-color: #d3eafc47; /* Light blue background */
    }

    .head{
      font-weight: bold;
      font-size: 40px;
      color: blue;
      text-shadow:0px 3px 3px grey;
    }


  .table-container {
    height: 400px;
    /* width: max-content; */
    /* overflow-y: auto; */
      overflow-x: auto;
  }
  table {
    
      /* width: 100%; */
      border-collapse: collapse;
  }
  th, td {
      padding: 8px 12px;
      border: 1px solid #a26b6b;
  }
  th {
      background-color: #824242;
  }
